openapi: 3.0.3

info:
  title: Geo Detection API
  description: |
    Detect objects on large geographic zones.
    
    # Security
    
    Get your **API key** by emailing **contact@bpartners.app**.
    All of your requests must embed your API key in the header named: **x-api-key**.
    
    # Usage
    
    Submit your detection request through `POST /detections/{id}`
    where `{id}` is yours to be created.
    
    1. If your zone is described by a **GeoJson**, then just set accordingly the `geoJsonZone` field in the payload.
    2. If your zone is described by a **Shape file**, then upload it in a second call `POST /detections/{id}/shape`.
    3. If your zone is described by a list of addresses in an **Excel file**, then upload it in a second call `POST /detections/{id}/excel`.
    
    # Examples
    
    ### Detection on roof objects providing geojson multiPolygon
    1. Submit detection request through `POST /detections/{id}` where `{id}` is yours to be created
    using the example request body accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/toiture%20analysis%20payload%20example.json).
    Note that `detectableObjectModel` property must be set to `BP_TOITURE` and `geoServerProperties` property to `null`
    2. Track the progress of your detection through `GET /detections/{id}`. 
    Detection is finished when `geoJsonUrl` property containing your detection result is not null.
    Expected example result is accessible [here](https://raw.githubusercontent.com/b-partners/geo-jobs/refs/heads/preprod/examples/detection/toiture%20analysis%20result%20example.json)
    
    ### Detection on roof objects providing addresses 
    1. Submit detection request through `POST /detections/{id}` where `{id}` is yours to be created
    using the example request body accessible [here](https://example.com/docs). 
    Note that `detectableObjectModel` property must be set to `BP_TOITURE` and `geoServerProperties` property to `null`.
    2. Submit list of addresses contained inside an **Excel file** in a second call `POST /detections/{id}/excel`.
    3. Track the progress of your detection through `GET /detections/{id}`. 
    Detection is finished when `geoJsonUrl` property containing your detection result is not null.
    4. Processing time is variable due to address conversion, the expected example result is accessible [here](https://example.com/docs). 

  version: 'latest'

servers:
  - url: 'https://api.birdia.fr'

paths:
  '/usage':
    get:
      tags:
        - Usage
      operationId: getDetectionUsage
      summary: Get detection usage
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: surfaceUnit
          required: false
          schema:
            $ref: '#/components/schemas/DetectionSurfaceUnit'
      responses:
        200:
          description: Statistics of detection usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectionUsage'
  '/detections':
    get:
      tags:
        - Detection
      operationId: getDetection
      summary: Get detections launched
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: page
          schema:
            $ref: "#/components/schemas/Page"
        - in: query
          name: pageSize
          schema:
            $ref: "#/components/schemas/PageSize"
      responses:
        200:
          description: List of detections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Detection'
  '/areaPictureDetails':
    get:
      tags:
        - Detection
      summary: Retrieve area picture from address and its details
      operationId: getAreaPicture
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: query
          name: address
          schema:
            type: string
          required: true
      responses:
        200:
          description: Area picture details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AreaPictureDetails'
  '/detections/{id}/sync':
    post:
      tags:
        - Detection
      operationId: processDetectionSynchronously
      summary: Process detection synchronously
      description: |
        Intended for small areas such as an address, detection tasks are processed simultaneously, delivering results in less than 60 seconds. 
        Results are requested through the GET /detections/{id} endpoint.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDetection'
      responses:
        200:
          description: Detection created or processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/image':
    post:
      tags:
        - Detection
      operationId: configureDetectionImage
      summary: Configure image for detection
      description: |
        Only image queried from GET /areaPictureDetails is supported for now.
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        description: Image from a specific address to be detected
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection with updated image file uploaded url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/roofDelimiter':
    post:
      tags:
        - Detection
      summary: Set roof delimiter for existing detection
      operationId: configureDetectionRoofDelimiter
      description: |
        Provide roof delimiter to finalize detection configuration in TOITURE model use case.
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoofDelimiter'
      responses:
        200:
          description: Detection configured with roof delimiter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}':
    get:
      tags:
        - Detection
      operationId: getProcessedDetection
      summary: View recently processed detection actual status
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      responses:
        200:
          description: Detection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
    post:
      tags:
        - Detection
      operationId: processDetection
      summary: Process detection
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDetection'
            examples:
              detectionForRoof:
                $ref: '#/components/examples/DetectionUsingToitureModel'
      responses:
        200:
          description: Detection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/addresses':
    post:
      tags:
        - Detection
      summary: Set addresses for existing detection
      operationId: configureDetectionAddresses
      description: |
        Provide addresses to finalize detection configuration
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - $ref: '#/components/parameters/IdentifierParameter'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Address'
      responses:
        200:
          description: Detection configured with addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/shape':
    post:
      tags:
        - Detection
      operationId: configureDetectionShapeFile
      summary: Upload shape file to configure detection zone
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection with updated shape file uploaded url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/detections/{id}/excel':
    post:
      tags:
        - Detection
      operationId: configureDetectionExcelFile
      summary: Upload excel file to configure detection zone
      security:
        - ApiKeyAuth: [ ]
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Detection identifier
          required: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        200:
          description: Detection with updated excel file uploaded url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detection'
  '/api/keys/revoke':
    delete:
      tags:
        - Security
      operationId: revokeApiKey
      summary: Revoke apiKey access
      security:
        - ApiKeyAuth: [ ]
      responses:
        200:
          description: Statistics of detection usage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeApiKeyResponse'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
  examples:
    DetectionUsingToitureModel:
      summary: Detection using BP_TOITURE model
      value:
        emailReceiver: "<your-email-address>"
        zoneName: "<your-zone-name>"
        geoServerProperties: null
        detectableObjectModel:
          modelName: "BP_TOITURE"
        geoJsonZone:
          - type: "Feature"
            geometry:
              type: "MultiPolygon"
              coordinates:
                - [ [ [ 2.3767,48.9172 ],[ 2.3777,48.9172 ],[ 2.3777,48.9179 ],[ 2.3767,48.9179 ],[ 2.3767,48.9172 ] ] ]
  parameters:
    IdentifierParameter:
      in: path
      name: id
      schema:
        type: string
      description: Detection identifier
      required: true
  schemas:
    Page:
      type: integer
      description: Start at `1`
    PageSize:
      type: integer
      description: Cannot exceed `500`
    GeoServerProperties:
      type: object
      properties:
        geoServerUrl:
          type: string
        geoServerParameter:
          $ref: "#/components/schemas/GeoServerParameter"
    RevokeApiKeyResponse:
      type: object
      properties:
        message:
          type: string
    DetectionSurfaceUnit:
      type: string
      enum:
        - SQUARE_DEGREE
    DetectionSurfaceValue:
      type: object
      required:
        - value
        - unit
      properties:
        value:
          type: number
          format: double
        unit:
          $ref: '#/components/schemas/DetectionSurfaceUnit'
    DetectionUsage:
      type: object
      required:
        - totalUsedSurface
        - remainingSurface
        - lastDatetimeSurfaceUsage
        - maxAuthorizedSurface
      properties:
        maxAuthorizedSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        totalUsedSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        remainingSurface:
          $ref: '#/components/schemas/DetectionSurfaceValue'
        lastDatetimeSurfaceUsage:
          type: string
          format: date-time
    StatusStatistic:
      type: object
      properties:
        progression:
          $ref: '#/components/schemas/ProgressionStatus'
        healthStatistics:
          type: array
          items:
            $ref: '#/components/schemas/HealthStatusStatistic'
    HealthStatusStatistic:
      type: object
      properties:
        health:
          $ref: '#/components/schemas/HealthStatus'
        count:
          type: number
    ProgressionStatus:
      type: string
      enum:
        - PENDING
        - PROCESSING
        - FINISHED
    HealthStatus:
      type: string
      enum:
        - SUCCEEDED
        - FAILED
        - UNKNOWN
        - RETRYING
    Status:
      type: object
      properties:
        progression:
          type: string
          enum:
            - PENDING
            - PROCESSING
            - FINISHED
        health:
          type: string
          enum:
            - SUCCEEDED
            - FAILED
            - UNKNOWN
            - RETRYING
        creationDatetime:
          type: string
          format: date-time

    ###########################################################################################################
    ###  GeoJSON objects. Modified from: https://gist.github.com/bubbobne/fe5f2db65acf039be6a9fd92fc9c7233  ###
    ###########################################################################################################

    GeoServerParameter:
      type: object
      properties:
        service:
          type: string
        request:
          type: string
        layers:
          type: string
        styles:
          type: string
        format:
          type: string
        transparent:
          type: boolean
        version:
          type: string
        width:
          type: integer
        height:
          type: integer
        srs:
          type: string
    Feature:
      type: object
      properties:
        type:
          type: string
          enum: [ Feature ]
        geometry:
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
        properties:
          type: object
          additionalProperties: true
    Geometry:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - Point
            - Polygon
            - MultiPolygon
    Point2D:
      type: array
      maxItems: 2
      minItems: 2
      items:
        type: number
    Point:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          $ref: '#/components/schemas/Point2D'
    MultiPolygon:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                $ref: '#/components/schemas/Point2D'
    Polygon:
      type: object
      allOf:
        - $ref: "#/components/schemas/Geometry"
      properties:
        coordinates:
          type: array
          items:
            type: array
            items:
              $ref: '#/components/schemas/Point2D'
    GeoJsonsUrl:
      type: object
      properties:
        url:
          type: string
        status:
          $ref: "#/components/schemas/Status"

    ###########################################################################################################
    ###  Detection components ############################################################################################
    ###########################################################################################################

    CreateDetection:
      type: object
      properties:
        emailReceiver:
          type: string
          description: |
            Email address that will be notified about detection steps evolution
        zoneName:
          type: string
          description: |
            Name that consumers provide to identify the zone
        geoServerProperties:
          $ref: '#/components/schemas/GeoServerProperties'
          description: Optional Configuration properties for the GeoServer.
        detectableObjectModel:
          $ref: '#/components/schemas/DetectableObjectModel'
        geoJsonZone:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
          description: |
            Optional. If so, must provide zone by shape or excel file through its specific endpoint.
    Detection:
      allOf:
        - $ref: '#/components/schemas/CreateDetection'
      properties:
        id:
          type: string
        step:
          $ref: '#/components/schemas/DetectionStep'
        geoJsonUrl:
          type: string
        shapeUrl:
          type: string
        excelUrl:
          type: string
        imageUrl:
          type: string
        pdfUrl:
          type: string
        vggUrl:
          type: string
        addresses:
          type: array
          items:
            type: string
        roofDelimiter:
          $ref: '#/components/schemas/RoofDelimiter'
    DetectionStepName:
      enum:
        - CONFIGURING
        - TILING
        - MACHINE_DETECTION
        - HUMAN_DETECTION
    DetectionStepStatistic:
      allOf:
        - $ref: '#/components/schemas/StatusStatistic'
    DetectableObjectModel:
      type: object
      properties:
        modelName:
          $ref: '#/components/schemas/ModelName'
    ModelName:
      type: string
      enum:
        - BP_TOITURE
        - BP_LOM
        - BP_ZAN
        - BP_CLIMAT_RESILIENCE
        - BP_CONFIRMITE_PLU
        - BP_TROTTOIRS
        - BP_OLD
    DetectionStep:
      properties:
        name:
          $ref: '#/components/schemas/DetectionStepName'
        status:
          $ref: '#/components/schemas/Status'
        statistics:
          type: array
          items:
            $ref: '#/components/schemas/DetectionStepStatistic'
        updatedAt:
          type: string
          format: date-time
    Address:
      type: object
      properties:
        address:
          type: string
    AreaPictureDetails:
      type: object
      properties:
        address:
          type: string
        imageBase64:
          type: string
    RoofDelimiter:
      type: object
      description: |
        Optional. Mandatory only when doing sync detection using TOITURE model.
      properties:
        polygon:
          type: array
          items:
            $ref: '#/components/schemas/Point2D'