<html>
<head>
    <style>
        body {
            font-family: Helvetica, serif;
        }
    </style>
</head>
<body>
<section>
    <p>Bonjour,</p>
    <p>Le résultat du traitement après contrôle qualité de la zone <strong th:text="${zoneName}"></strong> portant l'id = <strong th:text="${detectionE2EId}"></strong>, a été traité avec succès.</p>
    <p>Vous pouvez consulter le resultat <a th:href="${geojsonUrl}">ici</a></p>
    <p>Cordialement.</p>
    <p>L'équipe BirdIA.</p>
</section>
</body>
</html>